.navbar {
   background-color: rgba(128, 128, 128, 0.301);
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;

   ul {
      gap: 20px;
      display: flex;

      li {
         list-style: none;
         display: flex;
         cursor: pointer;
      }
   }
}

.welcome {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
}

.image-text {
   display: flex;
   justify-content: center;
   gap: 30px;

   .about-me {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.languages {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
