.nav-container {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px;

   .navbar {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
      border-bottom: 1.5px solid #242424;
      font-weight: 200;
      font-size: 14px;

      .contact:hover,
      li:hover {
         color: white;
         cursor: pointer;
         transition: color 0.4s ease;
      }

      ul {
         display: flex;
         list-style: none;
         gap: 10px;
      }
   }
}

.welcome {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 50px 0;
}

.image-text {
   display: flex;
   justify-content: center;
   gap: 30px;

   img {
      border-radius: 20% 50%;
   }

   .about-me {
      max-width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
}

.languages {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}
